body {
  margin: 0;
  padding: 0;
  width: 100%;
}

* {
  font-family: Arial, Helvetica, sans-serif !important;
}

input {
  padding-top: .5rem;
  padding-bottom: .5rem;
  padding-left: 1rem;
  padding-right: 1rem;
  width: 10ch;
  border: 1px solid;
  border-radius: 3px;
  border-color: lightslategrey;
}

label,
input {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
}

form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.input-wrapper {
  margin: auto 1rem 0 0;
}

button.btn {
  padding-top: .5rem;
  padding-bottom: .5rem;
  padding-left: 1rem;
  padding-right: 1rem;
  border: 1px solid;
  border-color: #0e3577;
  background-color: #0e3577;
  border-radius: 3px;
  color: white;
  cursor: pointer;
}

button.btn:hover {
  border-color: #1058d0;
  background-color: #1058d0;
}

button.btn:disabled,
button.btn[disabled] {
  border-color: #7a7a7a;
  background-color: #7a7a7a;
  color: black;
  cursor: not-allowed;
}

.wrapper {
  margin-top: 1rem;
  margin-bottom: 1rem;
  width: 100%;
}

.table-wrapper table {
  width: 100%;
  border-collapse: collapse;
}

.table-wrapper {
  margin: 0;
}

.info-wrapper {
  margin: 0;
}

table,
th,
td {
  border: 1px solid;
  border-color: lightslategrey;
}


th,
td {
  padding-left: .15rem;
  padding-right: .15rem;
}

th {
  padding-top: .5rem;
  padding-bottom: .5rem;
}

th:hover {
  background-color: rgba(0, 0, 0, .15);
}

td:hover {
  background-color: rgba(0, 0, 0, .1);
}

tbody tr:hover {
  background-color: rgba(0, 0, 0, .05);
}

.text-centered {
  text-align: center;
}

.avatar {
  height: 2rem;
  width: 2rem;
  background-color: black;
  border-radius: 50%;
  vertical-align: middle;
}

.open-path-wrapper {
  max-width: 10rem;
  -o-text-overflow: ellipsis;
  text-overflow: ellipsis;
  overflow: hidden;
  color: #0e3577;
  display: inline-block;
  white-space: nowrap;
  vertical-align: middle;
}

.open-path { 
  cursor: pointer;
}

.open-path:hover .open-path-wrapper {
  color: #1058d0;
  text-decoration: underline;
}

#loader {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 9999;
  background-color: white;
}

#loader div {
  padding: 0;
  margin: 0;
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
}

.sort-table {
  cursor: pointer;
  -webkit-user-select: none;
  -ms-user-select: none;
  -moz-user-select: none;
  user-select: none;
  color: #0e3577;
  white-space: nowrap;
}

.title-warpper { 
  display: inline-block;
}

.sort-table:hover {
  color: #1058d0;
}

.forward.sort-table {
  color: #1058d0;
}

.reverse.sort-table {
  color: #1058d0;
}

.arrow {
  height: 1rem;
  height: 1rem;
  vertical-align: middle;
  content: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 24 24'%3E%3Cg data-name='Layer 2'%3E%3Cg data-name='arrow-downward'%3E%3Crect transform='rotate(-90 12 12)' opacity='0'/%3E%3Cpath d='M12 17a1.72 1.72 0 0 1-1.33-.64l-4.21-5.1a2.1 2.1 0 0 1-.26-2.21A1.76 1.76 0 0 1 7.79 8h8.42a1.76 1.76 0 0 1 1.59 1.05 2.1 2.1 0 0 1-.26 2.21l-4.21 5.1A1.72 1.72 0 0 1 12 17z'/%3E%3C/g%3E%3C/g%3E%3C/svg%3E");
}

.sort-table .arrow {
  visibility: hidden;
}

.sort-table:hover .arrow {
  visibility: visible;
}

.forward.sort-table .arrow {
  content: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 24 24'%3E%3Cg data-name='Layer 2'%3E%3Cg data-name='arrow-downward'%3E%3Crect transform='rotate(-90 12 12)' opacity='0'/%3E%3Cpath d='M12 17a1.72 1.72 0 0 1-1.33-.64l-4.21-5.1a2.1 2.1 0 0 1-.26-2.21A1.76 1.76 0 0 1 7.79 8h8.42a1.76 1.76 0 0 1 1.59 1.05 2.1 2.1 0 0 1-.26 2.21l-4.21 5.1A1.72 1.72 0 0 1 12 17z'/%3E%3C/g%3E%3C/g%3E%3C/svg%3E");
}

.reverse.sort-table .arrow {
  content: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 24 24'%3E%3Cg data-name='Layer 2'%3E%3Cg data-name='arrow-up'%3E%3Crect transform='rotate(90 12 12)' opacity='0'/%3E%3Cpath d='M16.21 16H7.79a1.76 1.76 0 0 1-1.59-1 2.1 2.1 0 0 1 .26-2.21l4.21-5.1a1.76 1.76 0 0 1 2.66 0l4.21 5.1A2.1 2.1 0 0 1 17.8 15a1.76 1.76 0 0 1-1.59 1z'/%3E%3C/g%3E%3C/g%3E%3C/svg%3E");
}

.forward.sort-table .arrow {
  visibility: visible;
}

.reverse.sort-table .arrow {
  visibility: visible;
}

.pagination-wrapper {
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  margin-top: .25rem;
  margin-bottom: .25rem;
}

.pagination-wrapper button {
  margin-left: .25rem;
  margin-right: .25rem;
}

.pagination-wrapper button.btn:first-child {
  margin-left: 0;
}

.pages-wrapper {
  margin: auto 0;
}

.goto-page {
  width: 3ch;
  height: 3ch;
  vertical-align: middle;
  text-align: center;
  border: none;
  background-color: transparent;
  color: #0e3577;
  cursor: pointer;
}

.goto-page:hover {
  color: #1058d0;
  text-decoration: underline;
}

.goto-page.current-page {
  color: #1058d0;
  text-decoration: underline;
}

.hidden {
  display: none;
}

@media (min-width: 1200px) {
  .open-path-wrapper {
    max-width: 16rem;
  }
}

@media (min-width: 1400px) {
  .open-path-wrapper {
    max-width: 24rem;
  }
}
